<a href="https://colab.research.google.com/github/esther200416/hamoye/blob/master/HamoyeGradedQuiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
fuel_data = pd.read_csv('https://bit.ly/HDSC-StageOneDataset')

In [ ]:
fuel_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
record_id                       29523 non-null object
utility_id_ferc1                29523 non-null int64
report_year                     29523 non-null int64
plant_name_ferc1                29523 non-null object
fuel_type_code_pudl             29523 non-null object
fuel_unit                       29343 non-null object
fuel_qty_burned                 29523 non-null float64
fuel_mmbtu_per_unit             29523 non-null float64
fuel_cost_per_unit_burned       29523 non-null float64
fuel_cost_per_unit_delivered    29523 non-null float64
fuel_cost_per_mmbtu             29523 non-null float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.5+ MB

### QUESTION 6: The missing value features

In [ ]:
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [ ]:
(fuel_data['fuel_unit'].isnull().sum()/29523).round(3)

0.006

In [ ]:
fuel_data = fuel_data.fillna({'fuel_unit': 'mcf'})
fuel_data.isnull().sum()

record_id                       0
utility_id_ferc1                0
report_year                     0
plant_name_ferc1                0
fuel_type_code_pudl             0
fuel_unit                       0
fuel_qty_burned                 0
fuel_mmbtu_per_unit             0
fuel_cost_per_unit_burned       0
fuel_cost_per_unit_delivered    0
fuel_cost_per_mmbtu             0
dtype: int64

### QUESTION 3: The type code that has the average lowest cost per unit burned is 13.659397

In [ ]:
fuel_data.groupby("fuel_type_code_pudl")['fuel_cost_per_unit_burned'].mean()

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

### QUESTION 4: The Standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit) in two decimal places

In [ ]:
np.std(fuel_data['fuel_mmbtu_per_unit']).round(2)

10.6

In [ ]:
fuel_data['fuel_mmbtu_per_unit'].quantile(0.75)

17.006

### QUESTION 5: The Skewness and Kurtosis for the fuel quantity burned in two decimal places

In [ ]:
fuel_data['fuel_qty_burned'].skew().round(2)

15.85

In [ ]:
fuel_data['fuel_qty_burned'].kurtosis().round(2)

651.37

### QUESTION 9: the percentage change in the fuel cost per unit burned in 1998 compared to 1994

In [ ]:
fuel_data.iloc[1994:1998]['fuel_cost_per_unit_burned'].pct_change()

1994         NaN
1995   -1.000000
1996         inf
1997   -0.385512
Name: fuel_cost_per_unit_burned, dtype: float64

### QUESTION 10: The year that has the highest average fuel cost per unit delivered

In [ ]:
fuel_data.groupby("report_year")['fuel_cost_per_unit_delivered'].mean()

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64